<%- include('partials/header') %>
<%- include('partials/nav') %>

  <header><h1><%= title %></h1></header>
  <h5><%= description %></h5>
  <p>Grey as a mouse,<br>
    Big as a house,<br>
    Nose like a snake,<br>
    I make the earth shake,<br>
    As I tramp through the grass;<br>
    Trees crack as I pass.<br>
    With horns in my mouth<br>
    I walk in the South,<br>
    Flapping big ears.<br>
    Beyond count of years<br>
    I stump round and round,<br>
    Never lie on the ground,<br>
    Not even to die.<br>
    Oliphaunt am I,<br>
    Biggest of all,<br>
    Huge, old, and tall.<br>
    If ever you'd met me<br>
    You wouldn't forget me.<br>
    If you never do,<br>
    You won't think I'm true;<br>
    But old Oliphaunt am I,<br>
    And I never lie.</p>
<%- include('partials/footer') %>

