<%- include('partials/header') %>
<%- include('partials/nav') %>
  <header><h1><%= title %></h1></header>
  <h5><%= description %></h5>
  <p>Sing hey! for the bath at close of day<br>
    that washes the weary mud away!<br>
    A loon is he that will not sing:<br>
    O! Water Hot is a noble thing!</p>
    
    <p>O! Sweet is the sound of falling rain,<br>
    and the brook that leaps from hill to plain;<br>
    but better than rain or rippling streams<br>
    is Water Hot that smokes and steams.</p>
    
  <p>O! Water cold we may pour at need<br>
    down a thirsty throat and be glad indeed;<br>
    but better is Beer if drink we lack,<br>
    and Water Hot poured down the back.</p>
    
    <p>O! Water is fair that leaps on high<br>
    in a fountain white beneath the sky;<br>
    but never did fountain sound so sweet<br>
    as splashing Hot Water with my feet!</p>
<%- include('partials/footer') %>
