<%- include('partials/header') %>
<%- include('partials/nav') %>
  <header><h1><%= title %></h1></header>
  <h5><%= description %></h5>
  <p>Troll sat alone on his seat of stone,<br>
    And munched and mumbled a bare old bone;<br>
    For many a year he had gnawed it near,<br>
    For meat was hard to come by.<br>
    Done by! Gum by!<br>
    In a cave in the hills he dwelt alone,<br>
    And meat was hard to come by.</p>
    <p>Up came Tom with his big boots on.<br>
    Said he to Troll: 'Pray, what is yon?<br>
    For it looks like the shin o' my nuncle Tim.<br>
    As should be a-lyin' in the graveyard.<br>
    Caveyard! Paveyard!<br>
    This many a year has Tim been gone,<br>
    And I thought he were lyin' in the graveyard.'</p>
    <p>'My lad,' said Troll, 'this bone I stole.<br>
    But what be bones that lie in a hole?<br>
    Thy nuncle was dead as a lump o' lead,<br>
    Afore I found his shinbone.<br>
    Tinbone! Skinbone!<br>
    He can spare a share for a poor old troll,<br>
    For he don't need his shinbone.'</p>
    <p>Said Tom: 'I don't see why the likes o' thee<br>
    Without axin' leave should go makin' free<br>
    With the shank or the shin o' my father's kin;<br>
    So hand the old bone over!<br>
    Rover! Trover!<br>
    Though dead he be, it belongs to he;<br>
    So hand the old bone over!'</p>
    <p>...</p>

    
    
    
<%- include('partials/footer') %>

